# Commented line
TEST_NORMAL=NormalValue
TEST_QUOTED="Quoted Value"
TEST_INLINE=InlineValue # Inline comment
export TEST_EXPORT=ExportedValue
TEST_NESTED=Nested${TEST_VALUE}

NO_EQUAL_SIGN_HERE
TEST_EMPTY=
TEST_UNRESOLVED=${DOES_NOT_EXIST}
